<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/Style404.css') }}">
    <title>Error 404</title>
</head>
<body>
    <div class="body_cont">
        <div class="n404">
            <h1>404</h1>
        </div>
        <div class="text">
            <h2>No pudimos encontrar esta página.</h2>
        </div>
    </div>
</body>
</html>