<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/StyleRegistro.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/Users.js') }}"></script>
    <title>Registro</title>
    <script type="text/javascript">
        var registro_url = "{{ url_for('Registro') }}";
    </script>
</head>
<body>
    <div class="container">
        <p>Sign Up</p>
        <form class="form_1">
            <input type="text" placeholder="Nombre" id="usu_nom" name="usu_nom">
            <input type="text" placeholder="Apellido Paterno" id="usu_apep" name="usu_apep">
            <input type="text" placeholder="Apellido Materno" id="usu_apem" name="usu_apem">
            <input type="text" placeholder="Cedula" name="usu_ced" id="usu_ced">
            <input type="text" placeholder="Telefono" name="usu_tel" id="usu_tel">
            <select name="usu_sex" id="usu_sex" required>
                <option value="" disabled selected>Selecciona...</option>
                <option value="M">Masculino</option>
                <option value="F">Femenino</option>
                <option value="O">Otro</option>
            </select>
            <input type="email" placeholder="Correo Electronico" name="usu_correo" id="usu_correo">
            <input type="password" placeholder="Contraseña" name="usu_password" id="usu_password">
            <!-- <input type="password" placeholder="Confirma tu contraseña"> -->
        </form>
        <form class="form_2">
            <input type="checkbox" name="veificacion">
            <label for="veificacion">Acepto terminos y condiciones</label>
        </form>

        <button id="registroButton">Registrarse</button>
    </div>
</body>
</html>